/* Estilo del sidebar */
aside.sidebar-menu {
    background-color: #001F3F;
    height: 100%;
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilo de la lista dentro del sidebar */
aside.sidebar-menu > ul {
    list-style: none; /* Eliminar viñetas */
    padding: 0;
    margin: 0;
}

/* Estilo de cada elemento de la lista */
aside.sidebar-menu > ul > li {
    margin-bottom: 1em; /* Espaciado entre elementos */
}

/* Estilo del enlace/botón dentro del elemento de la lista */

aside.sidebar-menu > ul > li > button {
display: block;
width: 100%;
padding: 15px 20px; /* Espaciado interno */
background-color: transparent; /* Color de fondo transparente */
color: #ffffff; /* Color del texto */
text-align: center; /* Centrar texto */
border: none; /* Eliminar borde */
border-radius: 8px; /* Bordes redondeados */
font-size: 18px;
font-weight: bold; /* Texto en negrita */
text-transform: uppercase; /* Convertir texto a mayúsculas */
letter-spacing: 1px; /* Espaciado entre letras */
cursor: pointer;
transition: background-color 0.3s ease; /* Transición suave */
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra de texto */
}

/* Estilo al pasar el cursor sobre el enlace/botón */
aside.sidebar-menu > ul > li > button:hover {
    background-color: #283593; /* Color de fondo al pasar el cursor */
}

/* Estilo cuando el enlace/botón está activo */
.active,
aside.sidebar-menu > ul > li > button.active {
    background-color: #283593; /* Color de fondo activo */
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    aside.sidebar-menu {
        padding: 10px; /* Reducir el espaciado interno */
    }

    aside.sidebar-menu > ul > li > button {
        font-size: 14px; /* Reducir el tamaño de fuente */
    }
}